.vscode
.idea
node_modules
yarn.lock

# dependencies
packages/**/node_modules
packages/**/npm-debug.log*
packages/**/yarn-error.log
packages/**/yarn.lock
packages/**/package-lock.json

# production
/dist
/public/*
!assets
!index.html

# misc
**/.DS_Store

# umi
packages/**/src/.umi
packages/**/src/.umi-production
packages/**/src/.umi-test
packages/**/.env.local